.sideBar {
  border-right: 1px solid var(--border);
  background: var(--background-3);
  width: 52px;
  display: flex;
  flex-direction: column;
}

.button {
  background-color: transparent;
  color: var(--text-color-tertiary);
  font-size: 24px;
  height: 48px;
  width: 100%;
}

.button:hover {
  color: var(--text-color-highlighted);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button--active {
  color: var(--text-color-highlighted);
  border-left: 1px solid var(--text-color-highlighted);
  background-color: var(--background-highlighted);
}
