.ace_editor {
    background-color: var(--background-1);
    height: 100% !important;
}

.ace_gutter {
    background-color: var(--background-3) !important;
    color: var(--text-color) !important;
}

.ace_gutter-active-line {
    background-color: var(--background-2) !important;
    color: var(--text-color) !important;
}

.ace_editor .ace_content .ace_text-layer {
    color: var(--text-color) !important; /* Example: Light purple */
}

.ace_search_field {
    background-color: white !important;
    color: black;
  }
  
.ace_search_field:focus {
    background-color: white !important;
    color: black;
}
  
