.ace_editor {
    background-color: var(--background-1);
}

.ace_gutter {
    background-color: var(--background-3) !important;
    color: var(--text-color) !important;
}

.ace_gutter-active-line {
    background-color: var(--background-2) !important;
    color: var(--text-color) !important;
}

.ace_editor .ace_content .ace_text-layer {
    color: var(--text-color) !important; /* Example: Light purple */
}
