.stateTab {
  padding: 0px 16px 0px 16px;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 16px;
  min-height: 112px;
  border-bottom: 1px solid var(--text-color-secondary);
}

.section:last-child {
  border: none;
}

.row {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  width: 33%;
  word-wrap: break-word;
  height: 24px;
}

.input {
  text-align: center;
  background-color: var(--background-highlighted);
  border-width: 2px;
  min-height: 36px;
  max-height: 80px;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 8px; 
}
