.expressionEvaluator {
    display: flex;
    padding: 12px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}

.label {
    color: var(--teal);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.iconButton {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #fcfcfc;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.input {
    font-family: "Space Mono";
    width: 100%;
    font-size: 12px;
    padding: 8px 16px;
    border-radius: 5px;
    background: var(--background-5);
}

.result {
    width: 100%;
    font-family: "Space Mono", "Courier New", monospace;
    font-size: 12px;
    padding: 8px 16px;
    border-radius: 5px;
    background: var(--background-5);
}
