.container {
  flex-direction: column;
  position: sticky;
  bottom: 0;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
}

.output {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 8px 24px;
  outline: 0;
  border: 0;
  resize: none;
  background: transparent;
  font-family: "Roboto Mono", "Courier New", monospace;
  font-size: 13.333px;
  color: var(--text-color);
  overflow: auto;
}

.feedback {
  display: block;
  white-space: pre-wrap;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
