.sidePanel {
  min-width: 464px;
  height: 100%;
  background: var(--background-2);
  border-right: 1px solid var(--border);
  overflow-y: auto;
}

.tabHeaders {
  display: flex;
  border-bottom: 0.5px solid var(--border);
  text-transform: uppercase;
  font: 600 14px / 1 "Open Sans";
}

.tab {
  flex: 1;
  text-align: center;
  cursor: pointer;
}

.tab:hover,
.tab:active {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: rgba(82, 69, 165, 0.35);
}

.tabText {
  padding: 16px;
}

.tab--active {
  padding: 16px;
  text-decoration: underline;
  color: var(--text-color-highlighted);
  background-color: rgba(82, 69, 165, 0.35);
  height: 100%;
}

.tabContent {
  padding-top: 16px;
}
