.fileExplorer {
  height: 100%;
  background: var(--background-2);
  border-right: 1px solid var(--border);
  list-style-type: none;
}
.fileExplorer div {
  display: flex; /* Use flexbox to align items */
  align-items: top; /* Center items vertically */
  /* border: 4px; */
}
.directoryFileList {
  list-style-type: none;
  padding-left: 10px;
  font-size: 200px;
}
.directoryFileList:hover,
.directoryFileList:active {
  background-color: rgba(82, 69, 165, 0.35);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
[class^="file-explorer-label"] {
  font-size: 14px;
  cursor: pointer;
}
.fileExplorerResetutton {
  padding-left: 5px;
}
/* TODO fix styling */
