.fileExplorer {
  height: 100%;
  background: var(--background-2);
  padding-top: 8px;
  border-right: 1px solid var(--border);
  list-style-type: none;
}

.directoryFileList {
  list-style-type: none;
  padding-left: 10px;
}

.directoryFileList:hover,
.directoryFileList:active {
  background-color: rgba(82, 69, 165, 0.35);
}

.fileExplorerLabel {
  font-size: 14px;
  cursor: pointer;
}

.fileExplorerLabel--selected {
  background-color: rgba(82, 69, 165, 0.35);
}

.fileExplorerResetButton {
  padding-left: 5px;
}
